# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Build output
dist/
build/

# Env files
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Logs and temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# OneDrive
*.cloud
*.lnk
